<ion-header>
  <ion-toolbar>
    <ion-title>
      Simplest Firebase app ever
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <form [formGroup]="simple" (keyup.enter)="submit()">
    <ion-item>
      <ion-label position="stacked">Enter some text, hit enter to submit:</ion-label>
      <ion-input
        formControlName="text"
        type="text"
        placeholder="type here"
      ></ion-input>
    </ion-item>
    <ion-button (click)="submit()">
      Submit
    </ion-button>
  </form>

  <ion-list>
    <ion-list-header>
      Database entries: {{numEntries}}
    </ion-list-header>
    <ion-item *ngFor="let entry of getAllResults()">
      {{entry}}
      <ion-icon slot="end" name="close-circle" (click)="remove(entry)"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>

